{% extends 'base.html' %}

{% block content %}
    {% from "macro/navbar.html" import navbar %}
    {{ navbar('/home','Home','/apunte','Apuntes') }}

    {% from "macro/renderField.html" import render_field %}
    <body background="../static/image/mrrobot.jpg">
    <br>


    <div class="row ">
        <div class="col s3 ">
            <form action="/sem" method="post">

                <div class="col s10 white-text">
                    {{ render_field(fo.semestre) }}

                </div>


                <div class="col s10">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Buscar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
        <div class="col s1"></div>
        <div class="col s4 ">
            <form action="/mat" method="post">

                <div class="col s10">
                    {{ render_field(fo.materia) }}
                </div>

                <div class="col s10">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Buscar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
        <div class="col s4 ">
            <form action="/titulo" method="post">
                <div class="col s10">
                    {{ render_field(fo.titulo) }}
                </div>

                <div class="col s10">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Buscar
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </form>
        </div>
    </div>


    <a href="/home" class="btn-floating btn-large waves-effect waves-light teal"><i class="material-icons">home</i></a>

    </body>
{% endblock %}
