{% extends 'base.html' %}

{% block content %}
{% from "macro/navbar.html" import navbar %}
    {{ navbar() }}
<body >
<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container white-text">
            <br><br>
            <h1 class="header center light">Ingenieria en Computación</h1>
            <div class="row center">
                <h5 class="header col s12 light">La mejor guia de estudio para los estudiantes de ICO</h5>
            </div>
            <div class="row center">
                <a href="/login"  class="btn-large waves-effect waves-light teal lighten-1">Login</a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="/static/image/ico2.jpg"></div>
</div>
<footer  class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l8 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>



            </div>
            <div class="footer-copyright">
                <div class="container">
                    Made by <a class="brown-text text-lighten-3" href="https://www.facebook.com/Erickon.Robert">Erick</a>
                </div>
            </div>
</footer>
</body>
{% endblock %}